@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/inter-900.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}



body {
    font-family: "Inter", sans-serif;
    color: #2D3440;
    background-color: #FEAFC3;
    margin: 0;
    padding: 0;
}

.page-container {
    max-width: 1170px;
    margin: 0 auto;
}

.visually-hidden {
    display: none;
}

input.input {
    font-family: 'Inter';
}

button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
    background-color: #FF2F64;
}

.navigation-item {
    list-style: none;
}

.navigation-item-input button[type="button"] {
    background-color: rgba(252, 252, 252, 0.3);
    color: #2D3440;
}

.navigation-item-input button[type="button"] span {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    font-family: "Inter", sans-serif;
}
.navigation-item .navigation-link-active {
    color: #ffffff;
    background-color: #FF4A78;
}

.navigation-list .navigation-item a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #2D3440;
}

.navigation-user .navigation-item a {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}

h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.gallery h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.gallery p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.gallery button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: #fcfcfc;
    color: #2D3440;
}

li.gift-item {
    background-color: #FF7799;
}

li.gift-item h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}



li.gift-item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}



li.gift-item button{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: #FCFCFC;
    color: #2D3440;
}

li.popular-product-item {
    background-color: #FCFCFC;
}

li.popular-product-item h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

li.popular-product-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

li.popular-product-item div b {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.about-shop {
    background-image: url("../img/index/Сео.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.about-shop-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.serving {
    background-image: url("../img/index/news.jpg");
    background-repeat: no-repeat;
}

.serving span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #565C66;
}

.serving h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.mailing-list {
    background-image: url("../img/index/subscription.svg");
    background-repeat: no-repeat;
}

.mailing-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
}

.mailing-list-form input[type="email"] {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.delivery {
    background-image: url("../img/index/delivery.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.delivery p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
}

.delivery-form div {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
}

.delivery-point label {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.delivery-point input {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B9B9B9;
}

.address {
    background-image: url("../img/index/feedback.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

address span {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
}

address b {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

address a {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

address span.schedule {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #565C66;
}

.footer-navigation-item {
    list-style: none;
}

.footer-navigation-item a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #2D3440;
}

.footer-navigation-item a.footer-navigation-link-active {
    font-weight: 700;
}

.footer-logo span {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.breadcrumbs-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.catalog-filter-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.filter-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
}

.product-link {
    text-decoration: none;
}

.product-link h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.product-link p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
}

.product-link div b {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.catalog-navigation button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
}

.catalog-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.pagination {
    display: flex;
}

.pagination-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
}

.pagination-prev {
    opacity: .3;
}

.select-control {
    background-color: rgba(252, 252, 252, 0.3);
    color: #2D3440;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}

.catalog-filter-group {
    background-color: rgba(252, 252, 252, 0.3);
    color: #2D3440;
}

.navigation {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navigation .logo {
    display: block;
}

.gallery {
    display: flex;
}

.gift-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-product-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-shop-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-shop-item {
    flex-basis: 50%;
}

.delivery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul.social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul.footer-navigation-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

ul.footer-navigation-list li.footer-navigation-item {
    flex-basis: 50%;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

ul.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.catalog-filter {
    display: flex;
}

.catalog-filter-form {
    display: flex;
    flex-wrap: wrap;
}

ul.product-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

li.product-card {
    flex-basis: 25%;
    background-color: #fcfcfc;
}



.range-price-line {
    background-color: rgba(252, 252, 252, 0.3);
}

ul.pagination li {
    list-style: none;
}
