@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

body {
    font-family: "Inter", sans-serif;
    color: #2D3440;
    background-color: #FEAFC3;
}

.visually-hidden {
    display: none;
}

.input {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
    background-color: #FF2F64;
}

button {
    cursor: pointer;
}

.navigation-list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
}

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-menu-logo {
    min-width: 553px;
}

.navigation-menu-logo .navigation-list {
    margin-left: 16px;
}

.navigation-menu-logo .navigation-item {
    padding: 8px 16px;
}

.navigation-user {
    min-width: 431px;
}

.navigation-item-input.search .navigation-link-button{
    min-width: 32px;
    min-height: 32px;
}

.navigation-item-input.login .navigation-link-button{
    min-width: 88px;
    min-height: 32px;
}

.navigation-item-input.cart .navigation-link-button{
    min-width: 115px;
    min-height: 32px;
}

.navigation-link-button {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 30px;
    border: none
}

.navigation-item {
    list-style: none;
}

.navigation-link-active {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.navigation-item-active {
    background-color: #FF4A78;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.navigation-item-input-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    font-family: "Inter", sans-serif;
}

.navigation-item .navigation-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #2D3440;
}

.navigation-user .navigation-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}

.title-block {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.gallery h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    margin: 0 0 24px 0;
    max-width: 470px;
}

.gallery-info p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 48px 0;
}

.gallery-info button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: #FCFCFC;
    color: #2D3440;
    min-width: 139px;
    min-height: 44px;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
}

.gift {
    margin-top: 80px;
}

.gift .title-block {
    max-width: 434px;
    margin: 0 auto;
    text-align: center;
}

.gift-item {
    background-color: #FF7799;
    max-width: 570px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    border-radius: 16px;
}

.gift-item-info {
    padding: 36px 0 36px 36px;
}

.gift-item-info h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 28px 0;
}

.gift-item-info p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 28px 0;
}

.gift-item-info button{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: #FCFCFC;
    color: #2D3440;
    min-width: 176px;
    min-height: 44px;
    border-radius: 26px;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.popular-product {
    margin-top: 80px;
}

.popular-product-item {
    background-color: #FCFCFC;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 270px;
    border-radius: 8px;
}

.popular-product-item-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px 24px 40px;
}

.popular-product .title-block {
    max-width: 527px;
    margin: 0 auto;
    text-align: center;
}

.popular-product-item img {
    margin-top: -51px;
}

.popular-product-item-name h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 8px 0;
}

.popular-product-item-name p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 16px 0;
    text-align: center;
}

.price-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 190px;
    width: 100%;
}

.price-block b {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.price-block .button {
    min-width: 32px;
    min-height: 32px;
    border-radius: 26px;
    border: none;
}

.about-shop {
    background-image: url("../img/index/Сео.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 20px;
    padding: 24px;
    margin-top: 80px;
}

.about-shop-content {
    background-color: #FFFFFF;
    padding: 56px 40px;
    border-radius: 16px;
}

.about-shop-content .title-block {
    text-align: center;
    margin: 0 0 56px 0;
}

.about-shop-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-shop-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}

.serving {
    background-image: url("../img/index/news.jpg");
    background-repeat: no-repeat;
    width: 570px;
    border-radius: 16px;
}

.serving-content {
    padding: 51px;
}

.serving-content span {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #565C66;
}

.serving-content h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 12px 0 0 0;
    max-width: 303px;
}

.mailing-list {
    background-image: url("../img/index/subscription.svg");
    background-repeat: no-repeat;
    max-width: 570px;
    padding: 6px;
    border-radius: 16px;
}

.mailing-list-content {
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 26px;
    max-width: 506px;
}

.mailing-list-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    margin: 0;
}

.mailing-list-form {
    margin-top: 42px;

}

.mailing-list-form .input {
    max-width: 332px;
    width: 332px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #B9B9B9;
}

.mailing-list-form .input::placeholder {
    padding-left: 16px;
}

.mailing-list-form .button {
    width: 152px;
    height: 52px;
    background-color: #FF2F64;
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    border: 4px solid rgba(255, 47, 100, 0.3);
    border-radius: 26px;
    padding: 0;
}

.delivery {
    background-image: url("../img/index/delivery.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 64px 64px 100px;
    margin-top: 80px;
    border-radius: 16px;
}

.delivery-info {
    max-width: 371px;
}

.delivery-info .title-block {
    margin: 0 0 24px 0;
}

.delivery-info p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    margin: 0;
}

.delivery-form {
    max-width: 420px;
    background-color: #FCFCFC;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.info-order {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    margin-bottom: 32px;
}

.delivery-info-button {
    background-image: url("../img/index/Info.svg");
    width: 14px;
    height: 14px;
    border: none;
}

.delivery-form-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.delivery-point label {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.delivery-point input {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B9B9B9;
}

.delivery-date, .delivery-date input  {
    max-width: 117px;
    padding: 0;
    margin: 0;
}

.delivery-address,  .delivery-address input {
    max-width: 420px;
    width: 100%;
}

.delivery-address {
    margin-top: 20px;
    margin-bottom: 32px;
}

.delivery-point input {
    height: 48px;
    border: 1px solid #B9B9B9;
    outline: none;
    border-radius: 4px;
}

.delivery-phone, .delivery-phone input {
    min-width: 287px;
    padding: 0;
    margin: 0;
}

.delivery-point {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.delivery-point label {
    margin-bottom: 8px;
}

.delivery-point input::placeholder {
    padding: 14px 16px;

}

.delivery-form .button {
    min-width: 152px;
    min-height: 44px;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
}

.address {
    background-image: url("../img/index/feedback.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 64px;
    margin-top: 80px;
    border-radius: 16px;
}

.address-block {
    max-width: 263px;
    background-color: #FCFCFC;
    padding: 40px;
    border-radius: 8px;
}

.address-block span {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
}

.address-block b {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin: 12px 0 24px 0;
    display: block;
}

.address-block a {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    display: block;
    margin-top: 12px;
    text-decoration: none;
}

.address-block .schedule {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #565C66;
}

.address-block .button {
    margin-top: 32px;
    border: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    padding: 10px 32px;
}

.footer-navigation-item {
    list-style: none;
}

.footer-navigation-item a {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #2D3440;
}

.footer-navigation-link-active {
    font-weight: 700;
}

.footer-logo img {
    margin-bottom: 14px;
}

.footer-logo span {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.breadcrumbs-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    margin-right: 20px;
    color: #2D3440;
}

.breadcrumbs-link.active {
    text-decoration: underline;
}

.breadcrumbs-item {
    list-style: none;
}

.catalog-filter-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-left: 16px;
}

.select-control, .range-price-line, .catalog-filter-group {
    margin-top: 8px;
}

.filter-button {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
    width: 185px;
    height: 36px;
    border-radius: 20px;
}

.sorting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 24px;
}

.product-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px 24px 40px;
}

.product-link img {
    margin-top: -51px;
    margin-bottom: 8px;
}

.product-link h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    margin: 0 0 8px 0;
}

.product-link p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #565C66;
    margin: 0 0 16px 0;
    text-align: center;
}

.catalog-navigation .button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    background-color: #FCFCFC;
    border: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    padding: 12px 32px;
}

.catalog-navigation {
    display: flex;
    justify-content: flex-end;
    padding: 41px 0;
    margin-bottom: 40px;
}

.catalog-navigation-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 682px;
}

.catalog-navigation-pagination {
    display: grid;
    grid-template-columns: 16px 120px 16px;
    gap: 8px;
    align-items: center;
}

.pagination {
    display: grid;
    grid-template-columns: repeat(5, 24px);
    margin: 0;
    padding: 0;
    gap: 0;
}

.pagination-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    text-decoration: none;
}

.pagination-item.active {
    width: 24px;
    height: 24px;
    background-color: #FCFCFC;
    border-radius: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-pagination {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 52px;
}

.slider-pagination-item {
    background-color: #FCFCFC;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    list-style: none;
    opacity: 0.3;
}

.slider-pagination-item.active {
    opacity: 1;
}

.pagination-prev {
    opacity: .3;
}

.select-control {
    background-color: rgba(252, 252, 252, 0.3);
    color: #2D3440;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 196px;
    height: 36px;
    border-radius: 20px;
    padding: 0 10px 0 16px;
    border: none;
}

.control {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.catalog-filter-group {
    background-color: rgba(252, 252, 252, 0.3);
    color: #2D3440;
    border: none;
    border-radius: 18px;
    padding: 0;
}

.catalog-filter-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 8px 24px;
}

.catalog-filter-item {
    list-style: none;
}

.catalog-filter-item:not(:last-child) {
    margin-right: 16px;
}

.catalog-filter-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.catalog-filter-upper .catalog-filter-fieldset {
    margin-left: 24px;
}

.catalog-filter-lower {
    display: flex;
    align-items: center;
}

.catalog-filter-lower .catalog-filter-group {
    margin-right: 16px;
}

.navigation {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.navigation .logo {
    display: block;
}

.gallery {
    padding-left: 70px;
    padding-top: 20px;
}

.gallery-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery-lower-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gift-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 55px 0 0 0;
    padding: 0;
}

.popular-product-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 56px 0 0 0;
    padding: 0;
}

.about-shop-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.about-shop-item {
    flex-basis: 50%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.page-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 14px 50px 0;
}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.social-item {
    list-style: none;
}

.footer-navigation-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    max-width: 356px;
}

.footer-navigation-list .footer-navigation-item {
    margin-bottom: 8px;

}

.footer-navigation-item:nth-child(3) {
    margin-right: 38px;
}

.footer-navigation-item.active .footer-navigation-link{
    font-weight: 700;
    margin-right: 24px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 32px 0 16px 0;
    padding: 0;
}

.inner-header-title {
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    margin: 0 0 40px 0;
}

.catalog-filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 823px;
}

.catalog-filter-form {
    display: flex;
    align-items: flex-end;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    gap: 91px 30px;
    margin: 0;
    padding: 0;
    margin-top: 95px;
}

.product-card {
    background-color: #FCFCFC;
    list-style: none;
    border-radius: 8px;
}

.range-price-line {
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
    width: 196px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination .pagination-item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
